<!DOCTYPE html>
<html lang="en" ng-app="realValue">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="description" content="RealValue">
    <meta name="keywords" content="Value,Map,Orange County">
    <meta name="author" content="WTD">

    <title>Real Value</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



    <!--Angular Material Style Sheets-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--RealValue Style Sheets-->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Firebase Database -->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

    <!--Jquery -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <!--RealValue App-->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
    <script src="app/controllers/navCtrl.js"></script>

    <!------------------------DEV------------------------>

    <!--Map Js -->

    <!--
    <script src="https://raw.githubusercontent.com/angular-ui/angular-google-maps/master/dist/angular-google-maps.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
    <script src="firebasemap.js"></script>
    <script src="walkscore.js"></script>
    -->

    <!-- Init Google Map -->

    <!--
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2kAIGCDvNlIMiixW5rwjBiDsari5dKrc&libraries=visualization&callback=initMap">
    </script>
    -->

</head>
<body ng-cloak layout="column" style="overflow-x:hidden;" id="popupContainer">

<div id="main-container" ng-controller="navCtrl as nc">

    <md-sidenav md-component-id="right" class="md-sidenav-right" layout="column" layout-align="center center"
                md-is-open="true" md-whiteframe="4">

        <div id="nav-wrapper" layout="column" layout-align="center center" flex="80">
            <md-content>

                <!-- I added the style here to avoid issues


                -->
                <style>

                    .float-right{
                        float: right;
                    }
                    body{
                        margin:  0;
                    }
                    #sidebar{
                        color: black;
                        width: 20vw;
                        float: right; /* careful with this */
                        padding: 2vw;

                        /* justify text */
                        text-align: justify;
                        text-justify: inter-word;

                        /* ensuring sidebar is always full height */
                        min-height: 100vh;
                    }
                    #toggle-options{
                        text-align: left
                    ;
                    }


                    #toggle-graph{
                        text-align: left;
                    }
                    #toggle-description{
                        text-align: left;
                    }

                    #logo-img{
                        width: 100%;
                    }
                </style>

                <!-- Sidebar HTML begins here -->

                <aside id="sidebar">
                    <section id="check_boxes">
                        <h3 id="toggle-options">OPTIONS   <span id="options-icon" class="float-right glyphicon glyphicon-triangle-left glyphicon-align-right" aria-hidden="true"></span></h3>
                        <div id="options">
                            <input class="box" type="checkbox"> restaurant <br>
                            <input class="box" type="checkbox"> airport <br>
                            <input class="box" type="checkbox"> library <br>
                            <input class="box" type="checkbox"> bar/nightclub <br>
                            <input class="box" type="checkbox"> cafe<br>
                            <input class="box" type="checkbox"> museum<br>
                            <input class="box" type="checkbox"> park <br>
                            <input class="box" type="checkbox"> police dept <br>
                            <input class="box" type="checkbox"> hospital/ doctor office <br>
                            <input class="box" type="checkbox"> school <br>
                            <input class="box" type="checkbox"> gas station <br>
                            <input class="box" type="checkbox"> university <br>
                            <input class="box" type="checkbox"> gym <br>
                            <input class="box" type="checkbox"> zoo <br>
                            <input class="box" type="checkbox"> crime <br>
                            <input class="box" type="checkbox"> housing/rental market <br>
                            <input class="box" type="checkbox"> traffic <br>
                            <input class="box" type="checkbox"> walk score <br>
                        </div>
                    </section>
                    <section id="graph-section">
                        <h3 id="toggle-graph">GRAPH <span id="graph-icon" class="float-right glyphicon glyphicon-triangle-left glyphicon-align-right" aria-hidden="true"></span></h3>
                        <div id="graph">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare nunc sit amet lorem tempor vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Maecenas mattis fermentum condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer tristique pretium velit vitae suscipit. Morbi leo nibh, pulvinar id augue eget, vehicula mattis metus. Maecenas vel commodo augue. Nam sagittis volutpat lacinia. In pulvinar scelerisque leo. In suscipit magna non eleifend vehicula. Maecenas at efficitur nulla.</p>
                        </div>
                    </section>

                    <section>
                        <h3 id="toggle-description">ABOUT <span id="description-icon" class="float-right glyphicon glyphicon-triangle-left glyphicon-align-right" aria-hidden="true"></span></h3>
                        <p id="ness">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare nunc sit amet lorem tempor vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Maecenas mattis fermentum condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer tristique pretium velit vitae suscipit. Morbi leo nibh, pulvinar id augue eget, vehicula mattis metus. Maecenas vel commodo augue. Nam sagittis volutpat lacinia. In pulvinar scelerisque leo. In suscipit magna non eleifend vehicula. Maecenas at efficitur nulla. </p>
                    </section>

                    <section id="logo">
                        <img id="logo-img" src="https://secure.static.tumblr.com/1b2b3fabaf91e69751cbf68f03e0da50/sdqbquc/ES3nmcszp/tumblr_static_filename_640_v2.jpg">
                    </section>

                    <section>
                        <a href="www.google.com">About</a>
                    </section>
                </aside>

                <!-- all JS functionality -->
                <script>
                    $(document).ready(function () {
                        $('#options').hide();
                        $('#graph').hide();
                        $('#ness').hide();
                    });
                    var hidden = false;
                    $('#toggle-options').click(function(){
                        if(hidden){
                            $('#options').show();
                            $('#options-icon').toggleClass("glyphicon-triangle-left", false);
                            $('#options-icon').toggleClass("glyphicon-triangle-bottom", true);

                        }
                        else{
                            $('#options').hide();
                            $('#options-icon').toggleClass("glyphicon-triangle-left", true);
                            $('#options-icon').toggleClass("glyphicon-triangle-bottom", false);

                        }
                        hidden = !hidden; //toggle hidden
                    });

                    var description_hidden = false;
                    $('#toggle-description').click(function(){
                        if(description_hidden){
                            $('#ness').show();
                            $('#description-icon').toggleClass("glyphicon-triangle-left", false);
                            $('#description-icon').toggleClass("glyphicon-triangle-bottom", true);

                        }
                        else{
                            $('#ness').hide();
                            $('#description-icon').toggleClass("glyphicon-triangle-left", true);
                            $('#description-icon').toggleClass("glyphicon-triangle-bottom", false);

                        }
                        description_hidden = !description_hidden; //toggle hidden
                    });

                    var graph_hidden = false;
                    $('#toggle-graph').click(function(){
                        if(graph_hidden){
                            $('#graph').show();
                            $('#graph-icon').toggleClass("glyphicon-triangle-left", false);
                            $('#graph-icon').toggleClass("glyphicon-triangle-bottom", true);

                        }
                        else{
                            $('#graph').hide();
                            $('#graph-icon').toggleClass("glyphicon-triangle-left", true);
                            $('#graph-icon').toggleClass("glyphicon-triangle-bottom", false);

                        }
                        graph_hidden = !graph_hidden; //toggle hidden
                    });
                </script>



            </md-content>
        </div>

        <div id="nav-close">
            <md-button class="md-raised" ng-click="nc.openRightMenu()">
                Close
            </md-button>
        </div>

    </md-sidenav>

    <div layout="column" layout-fill layout-padding>

        <div id="menu-btn" layout="row" layout-align="end start" layout-padding flex="70">
            <md-button class="md-primary md-raised md-fab" ng-click="nc.openRightMenu()">
                <md-icon class="md-accent" md-font-set="material-icons">menu</md-icon>
            </md-button>
        </div>

        <div layout="column" flex>
            <md-card class="btm-left-card" layout-align="center center">
                <span>Info Here</span>
            </md-card>
        </div>

    </div>

    <!--
    Commented out because routing is disabled

    <ul id="temp-nav">
        <li><a href="#map">Home</a></li>
        <li><a href="#about">About</a></li>
    </ul>

    <div ng-view></div>
    -->

    <!--
    Commented out for Angular Setup

    <div id="map"></div>
    <div id="output"></div>
    -->
</div>
</body>
</html>