<!DOCTYPE html>
<html lang="en" ng-app="realValue">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Info -->
    <meta name="description"  content="RealValue LA &amp; OC Area Ratings">
    <meta name="keywords"     content="realvalue, map, area rating, value, ratings, los angeles, orange county, california">
    <meta name="author"       content="Taylor Sturtz, Danh Le, and Weikuan Sun">

    <!--Social media sharing-->
    <meta property="og:url"          content="http://www.realvalue.io">
    <meta property="og:type"         content="website">
    <meta property="og:title"        content="RealValue LA &amp; OC Area Ratings">
    <meta property="og:description"  content="Area ratings in LA and Orange County based on a number of user selected factors">
    <meta property="og:image"        content="http://www.taylorsturtz.com/assets/img/RV-logo2.jpg">
    <meta name="twitter:card"        content="summary_large_image">

    <title>Real Value LA &amp; OC</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="./assets/img/rv-favicon.png">

    <!-- Angular Material Style Sheets -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="./assets/css/MarkerCluster.Default.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="./assets/css/leaflet.css"/>

    <!-- RealValue -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <!-- Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Firebase Database -->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

    <!-- Leaflet -->
    <script src="./assets/js/leaflet.js"></script>
    <script src="./assets/js/leaflet.markercluster.js"></script>
    <script src="./assets/js/angular-leaflet-directive.js"></script>
    <script src="https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js"></script>

    <!-- D3.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

    <!-- App config -->
    <script src="app/app.js"></script>
    <!-- Services -->
    <script src="app/services/checkboxService.js"></script>
    <script src="app/services/dataService.js"></script>
    <script src="app/services/geocodingService.js"></script>
    <!-- Controllers -->
    <script src="app/controllers/mapCtrl.js"></script>
    <script src="app/controllers/navCtrl.js"></script>
    <!-- Assets -->
    <script src="assets/simple-geojson/tammy-1-geojson.js"></script>
    <script src="assets/simple-geojson/combined-geojson.js"></script>
    <script src="assets/simple-geojson/cities.js"></script>
    <script src="app/zip_lookup.js"></script>
    <!-- Disabled while county is disabled -->
    <!-- <script src="app/controllers/county.js"></script> -->

    <!--Google Maps Call for Place Details-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZISd2dj9XOcOLvQC162avw5TOoS7d9_k&libraries=places"
            async defer></script>

</head>
<body ng-cloak layout="column" style="overflow-x:hidden;" id="popupContainer">

<div id="mobile" hide-gt-sm flex="100">
    <div id="mobile-wrapper">
        <div id="logoMobile"></div>
        <md-divider></md-divider>
        <md-subheader class="welcome-dialog-headers">Los Angeles &amp; Orange County Area Ratings</md-subheader>
        <md-divider></md-divider>
        <div id="mobile-msg">At this time, this application is best experienced on a laptop or desktop.</div>
    </div>
</div>

<div id="map" ng-controller="mapController as mc">
    <leaflet tiles="tiles" maxbounds="maxbounds" controls="controls" markers="markers" layers="layers"
             lf-center="center" geojson="geojson" bounds="bounds"
             legend="legend" defaults="defaults"
             width="100%" height="100vh"></leaflet>

    <!--<md-progress-circular md-mode="indeterminate" ng-if="root.activated" class="md-primary" md-diameter="50"></md-progress-circular>-->
    <div id="greyBG" ng-if="progress"><md-progress-circular md-mode="indeterminate"  class="md-primary"
                          md-diameter="50"></md-progress-circular></div>

    <div id="main-container" ng-controller="navCtrl as nc">

        <md-sidenav id="sidenav-container" md-component-id="right" class="md-sidenav-right" layout="column"
                    layout-align="start center"
                    md-whiteframe="16" md-disable-backdrop="true">
            <md-toolbar class="md-primary md-medium-tall" layout-align="center center" layout="row" md-whiteframe="4">
                <div class="md-toolbar-tools" layout-padding>

                    <div ng-show="mc.currentInfo === undefined" layout="column">
                        <div>
                            <md-icon class="md-warn" md-font-set="material-icons">pin_drop</md-icon>
                            <span class="icon-spacer">Select an area to</span>
                        </div>
                        <div>
                            <md-icon class="md-warn" md-font-set="material-icons">star</md-icon>
                            <span class="icon-spacer">see its Real Value!</span>
                        </div>
                    </div>

                    <div ng-show="mc.currentInfo !== undefined" layout="column">
                        <div>
                            <md-icon class="md-warn" md-font-set="material-icons">pin_drop</md-icon>
                            <span class="icon-spacer">{{mc.currentInfo.name}}</span>
                        </div>
                        <div ng-if="mc.currentInfo.city !== undefined">
                            <md-icon class="md-warn" md-font-set="material-icons">pin_drop</md-icon>
                            <span class="icon-spacer">{{mc.currentInfo.city}}</span>
                        </div>
                        <div>
                            <md-icon class="md-warn" md-font-set="material-icons">star</md-icon>
                            <span class="icon-spacer">{{mc.currentInfo.score}}</span>
                        </div>
                    </div>

                    <span flex></span>

                    <md-button class="md-fab md-accent sidenav-close" ng-click="nc.openRightMenu(false)">
                        <md-icon class="md-accent" md-font-set="material-icons">close</md-icon>
                        <md-tooltip md-direction="top" class="tooltip-alert">
                            Closing this tab will turn off auto-open.
                        </md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <section id="data-here" flex="4"></section> <!-- LEAVE THIS - ITS FOR THE GOOGLE PLACES CALL -->
            <div class="data_spacer">

                <md-card class="job-data">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Job Availability Statistics</span>
                            <span class="md-subhead">Tech Jobs vs. Other Jobs</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div id="chart">
                            <md-subheader class="pre-visualisation">Click on a zip code to view data</md-subheader>
                        </div>
                    </md-card-content>
                </md-card>
                <span></span>
                <md-card class="crime-data">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Violent Crime Statistics</span>
                            <span class="md-subhead">Crime frequency over the years</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-subheader class="pre-visualisation">Click on a zip code to view data</md-subheader>
                        <svg id="visualisation" width="250" height="250" ng-show="mc.showSVG"></svg>
                    </md-card-content>
                </md-card>
                <span></span>
                <md-card class="housing-data">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Home Value Statistics</span>
                            <span class="md-subhead">Average home value relative to area</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-subheader class="pre-visualisation">Click on a zip code to view data</md-subheader>
                        <svg id="visualisation1" width="250" height="250" ng-show="mc.showSVG"></svg>
                    </md-card-content>
                </md-card>

            </div>

            <span flex></span>

        </md-sidenav>

        <md-toolbar id="top-toolbar" class="md-primary md-medium-tall" layout-align="center center" md-whiteframe="4">

            <div class="md-toolbar-tools">

                <div id="logoTopLeft" ng-click="nc.welcomeDialog();">
                    <md-tooltip md-direction="bottom">
                        Re-open welcome message.
                    </md-tooltip>
                </div>

                <md-input-container flex="25" md-theme="search">
                    <md-icon class="md-accent toolbar-search-icon" md-font-set="material-icons"
                             ng-click="mc.submit_zoom(mc.zip)">search
                    </md-icon>
                    <input type="text" placeholder="Search by city or zip code" ng-model="mc.zip"
                           ng-keyup="$event.keyCode == 13 && mc.submit_zoom(mc.zip)">
                </md-input-container>

                <md-divider class="toolbar-spacer"></md-divider>

                <md-icon class="md-primary select-icons" md-font-set="material-icons">
                    layers
                    <md-tooltip md-direction="bottom">
                        Toggle area layer highlights here!
                    </md-tooltip>
                </md-icon>
                <div class="toolbar-layers" layout="row">
                    <md-button md-no-ink class="md-warn layer-btn" ng-click="">
                        County
                        <md-tooltip md-direction="bottom">
                            Not Available (planned addition)
                        </md-tooltip>
                    </md-button>
                    <md-button md-theme="search" class="md-accent md-raised layer-btn" ng-click="mc.city_zoom()" ng-disabled="mc.cityLayer">
                        City
                    </md-button>
                    <md-button md-theme="search" class="md-accent md-raised layer-btn" ng-click="mc.zipcode_zoom(); openSidenav.open()" ng-disabled="mc.zipLayer">
                        Zip
                    </md-button>
                </div>

                <span flex></span>
                <md-button class="md-fab md-primary" ng-click="nc.openRightMenu()">
                    <md-icon class="md-accent" md-font-set="material-icons">poll</md-icon>
                    <md-tooltip md-direction="left">
                        View detailed area data here!
                    </md-tooltip>
                </md-button>
                <span></span>

            </div>

        </md-toolbar>

        <div class="zoom-btns" layout="column">
            <md-button class="md-fab md-primary md-mini" ng-click="mc.zoom_in()" ng-disabled="mc.checkZoom(18)">
                <md-icon class="zoom-btns-icons" md-font-set="material-icons">add</md-icon>
            </md-button>
            <md-button class="md-fab md-primary md-mini" ng-click="mc.zoom_out()" ng-disabled="mc.checkZoom(9)">
                <md-icon class="zoom-btns-icons" md-font-set="material-icons">remove</md-icon>
            </md-button>
        </div>

        <div id="btm-left-card-container">
            <md-card id="btm-left-card" md-whiteframe="4">
                <md-card-content layout="row">
                    <div layout="column" class="checks">

                        <md-subheader class="subhead">
                            <md-icon class="md-primary select-icons" md-font-set="material-icons">equalizer</md-icon>
                            SELECT DATA TO INCLUDE
                        </md-subheader>

                        <div class="checkboxes-column" layout="column">
                            <md-checkbox class="check-boxes"
                            ng-model="checkbox.checked"
                            ng-disabled="{{checkbox.disabled}}"
                            ng-change="nc.updateData(this.checkbox)"
                            ng-repeat="checkbox in nc.checkboxes"
                            ng-attr-md-indeterminate="{{checkbox.disabled}}">
                                {{checkbox.type.toUpperCase()}}
                                <md-tooltip md-direction="right">
                                    {{checkbox.tooltip}}
                                </md-tooltip>
                            </md-checkbox>
                        </div>

                        <md-divider></md-divider>

                        <md-subheader class="score">
                            <md-tooltip md-direction="right">
                                Hover over an area to see the Real Value!
                            </md-tooltip>
                            <div ng-hide="mc.information !== undefined" ng-show="mc.information === undefined">
                                <div>
                                    <md-icon class="md-primary" md-font-set="material-icons">pin_drop</md-icon>
                                    <span class="icon-spacer2">Hover over an area to</span>
                                </div>
                                <div>
                                    <md-icon class="md-primary" md-font-set="material-icons">star</md-icon>
                                    <span class="icon-spacer2">display its Real Value!</span>
                                </div>
                            </div>
                            <div ng-show="mc.information !== undefined" ng-hide="mc.information === undefined">
                                <div>
                                    <md-icon class="md-primary" md-font-set="material-icons">pin_drop</md-icon>
                                    <span class="icon-spacer2">{{mc.information.name}}</span>
                                </div>
                                <div>
                                    <md-icon class="md-primary" md-font-set="material-icons">pin_drop</md-icon>
                                    <span class="icon-spacer2">{{mc.information.city}}</span>
                                </div>
                                <div>
                                    <md-icon class="md-primary" md-font-set="material-icons">star</md-icon>
                                    <span class="icon-spacer2">{{mc.information.score}}</span>
                                </div>
                            </div>
                        </md-subheader>

                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
</body>
</html>
