<!DOCTYPE html>
<html ng-app="demoapp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-leaflet-directive/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="./node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="./node_modules/angular-leaflet-directive/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="./Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
    <script src="./Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="app/controllers/geojson.js"></script>
    <script>
        var app = angular.module("demoapp", ["leaflet-directive"]);
        app.controller('MarkersAddRemoveController', [ '$scope', 'leafletData', function($scope,leafletData) {
            angular.extend($scope, {
                center: {
                    lat: 33.63622083463071,
                    lng: -117.73948073387146,
                    zoom: 10
                },
                    tiles: {
                        url: "http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png",
                        options: {
                            attribution: 'All maps &copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, map data &copy; <a href="http://www.openstreetmap.org">OpenStreetMap</a> (<a href="http://www.openstreetmap.org/copyright">ODbL</a>'
                        }
                },
                markers: {
                    marker1: {
                        lat: 33.1,
                        lng: -117.5,
                        icon: {
                            type: 'awesomeMarker',
                            icon: 'tag',
                            markerColor: 'red'
                        }
                    },
                    another_marker: {
                        lat: 33.6,
                        lng: -117.9,
                        focus: true,
                        title: "Marker",
                        draggable: false,
                        label: {
                        message: "<div class=\"test\">Test Baby!!!</div>",
                            options: {
                        noHide: true
                    }
                }
            }
                },
                geojson : {
                    data: [zip_92618,zip_92604,zip_92620,zip_91331,zip_92602,zip_92782,zip_93536,zip_90265,zip_92672],
                    style: style,
                    onEachFeature: function (feature, layer) {
                        console.log("HI");
                        // fixed issue with referencing layer inside our reset Highlight function
                        layer.bindPopup(feature.properties.popupContent);

                        leafletData.getMap().then(function(map) {
                            label = new L.Label();
                            label.setContent(feature.properties.name);
                            label.setLatLng(layer.getBounds().getCenter());
                            console.log("label", layer.getBounds().getCenter());
                            map.showLabel(label);
                        });

                        layer.on({
                            mouseover: highlightFeature,
                            mouseout: resetHighlight,
                            click: zoomToFeature
                        });
                    }
                }
            });

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 5,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }

                //info.update(layer.feature.properties);
            }

            function resetHighlight(e) {
                /* had to custom edit this for angular from interactive choropleth example */
                var layer = e.target;
                layer.setStyle({
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                });
            }

            function zoomToFeature(e) {
                leafletData.getMap().then(function(map) {
                    //console.log(e);
                    //console.log(map);
                    map.fitBounds(e.target.getBounds());
                });
                // Modified for Angular
                // map.fitBounds(e.target.getBounds());
            }

            function style(feature) {
                return {
                    fillColor: getColor(feature.properties.population),
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

            function getColor(d) {
                return d > 85000 ? '#800026' :
                        d > 75000  ? '#BD0026' :
                                d > 65000  ? '#E31A1C' :
                                        d > 55000  ? '#FC4E2A' :
                                                d > 45000   ? '#FD8D3C' :
                                                        d > 35000   ? '#FEB24C' :
                                                                d > 25000   ? '#FED976' :
                                                                        '#FFEDA0';
            }

            $scope.addMarkers = function() {
                angular.extend($scope, {
                    markers: {
                        m1: {
                            lat: 51.505,
                            lng: -0.09,
                            message: "I'm a static marker",
                        },
                        m2: {
                            lat: 51,
                            lng: 0,
                            focus: true,
                            message: "Hey, drag me if you want",
                            draggable: true
                        }
                    }
                });
            };

            $scope.removeMarkers = function() {
                $scope.markers = {};
            }

            //$scope.addMarkers();
        } ]);
    </script>
</head>
<body ng-controller="MarkersAddRemoveController">
<leaflet lf-center="center" markers="markers" geojson="geojson" height="480px" width="100%" tiles="tiles"></leaflet>
<h1>Add/remove markers easily example</h1>
<button ng-click="removeMarkers()">Remove markers</button>
<button ng-click="addMarkers()">Add markers</button>
</body>
</html>