<md-dialog flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon class="md-accent" md-font-set="material-icons">{{dc.placeObj.icon}}</md-icon>
                &nbsp;<h2>Place Details</h2>
                <span flex></span>
                <md-button ng-click="dc.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div id="append-here" class="md-dialog-content">
                <h1 class="md-display-2 place-title">{{ dc.placeObj.name }}</h1>
                <span>
                <md-icon class="md-primary" md-font-set="material-icons">pin_drop</md-icon>{{dc.placeObj.address}}
                </span>
                <span>&nbsp;
                <md-icon class="md-primary" md-font-set="material-icons">phone</md-icon> {{dc.placeObj.phone}}
                </span>
                <md-divider class="place-divider"></md-divider>
                <div class="place-imgs-container">
                    <div class="place-img" ng-repeat="photo in dc.placeObj.photos | limitTo : 3 : 0">
                        <img ng-src="{{ photo.getUrl({'maxWidth': 300, 'maxHeight': 200}) }}">
                    </div>
                </div>
                <md-subheader>Location Hours</md-subheader>
                <md-divider></md-divider>
                    <div class="place-hours" ng-repeat="hours in dc.placeObj.hours">
                        {{hours}}
                    </div>
                <md-subheader>Location Reviews</md-subheader>
                <md-divider></md-divider>
                <div class="place-reviews" ng-repeat="review in dc.placeObj.reviews">
                    <md-divider class="place-divider"></md-divider>
                    <span>
                        <md-icon ng-repeat="rating in dc.starRange(review.rating) track by $index" class="md-primary" md-font-set="material-icons">star_rate</md-icon><!--
                        --><md-icon ng-repeat="remaining in dc.starsRemaining(dc.remaining) track by $index" class="md-primary" md-font-set="material-icons">star_border</md-icon>
                    </span>
                    {{review.text}}
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="dc.cancel()">Continue</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
