<md-dialog flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Place Details</h2>
                <span flex></span>
                <md-button ng-click="dc.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div id="append-here" class="md-dialog-content">
                <div>

                    <span class="highlight"><img src="{{dc.placeObj.icon}}"></span>
                    <div class="highlight">{{ dc.placeObj.name }}</div>
                    <div class="highlight">{{dc.placeObj.type}}</div></span>
                    <div class="highlight">{{dc.placeObj.address}}</div>
                    <div class="highlight">{{dc.placeObj.phone}}</div>
                    <ul>
                        <li class="highlight" ng-repeat="hours in dc.placeObj.hours">
                            {{hours}}
                        </li>
                        Open now? <span class="highlight">{{dc.placeObj.openNow}}</span>
                    </ul>
                    <span class="highlight" ng-repeat="photo in dc.placeObj.photos"><img src="{{ photo.getUrl({'maxWidth': 200, 'maxHeight': 200}) }}"></span>
                    <span ng-repeat="review in dc.placeObj.reviews">
                        Ratings: <span class="highlight">{{review.rating}}</span>
                    </span>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="dc.cancel()">Continue</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>