<md-dialog flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Place Details</h2>
                <span flex></span>
                <md-button ng-click="pc.cancel()"><md-icon>close</md-icon></md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque odio odit quaerat reiciendis similique. Aliquam commodi consectetur dolor doloremque ea, exercitationem, itaque magni maiores nemo obcaecati porro quia quisquam ratione. Animi autem delectus distinctio, dolor, ducimus esse et excepturi facilis fuga impedit officiis porro quasi quia ratione veniam voluptate voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorem ducimus eligendi magnam magni odio provident, quod ullam veritatis voluptatem!</p>
                <md-divider></md-divider>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque odio odit quaerat reiciendis similique. Aliquam commodi consectetur dolor doloremque ea, exercitationem, itaque magni maiores nemo obcaecati porro quia quisquam ratione. Animi autem delectus distinctio, dolor, ducimus esse et excepturi facilis fuga impedit officiis porro quasi quia ratione veniam voluptate voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quas, quasi. Et hic iusto quibusdam? A alias aliquam asperiores assumenda blanditiis culpa cupiditate deserunt dignissimos distinctio dolore doloremque doloribus eligendi et eum excepturi facilis illo in ipsum maiores modi neque nesciunt nihil officia omnis optio perferendis possimus quam quas quibusdam, rem, rerum sit, soluta suscipit vel velit vitae voluptates? Soluta.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto asperiores, consectetur consequuntur cumque, delectus deleniti dicta dolore id illum ipsum iste iure libero magnam minima modi nesciunt, nulla officia possimus quia quidem quis quos repudiandae soluta veritatis vitae voluptatibus? Ab aliquam architecto corporis culpa distinctio doloribus exercitationem in incidunt ipsam itaque laborum molestiae molestias necessitatibus nobis officia possimus provident qui quibusdam quod quos reprehenderit sed, sequi suscipit vel voluptates.</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="pc.cancel()">Continue</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>